body {
  background-color: #1c1c1c;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  padding: 4rem;
}

h1 {
  font-size: 32px;
  margin-bottom: 8px;
  color: #90CAF9;
}

h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: #FAFAFA;
}

button {
  border-radius: 6px;
  border-width: 0;
  background-color: #1565C0;
  color: #FAFAFA;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

#clear {
  margin-left: 0.5rem;
}

button:hover {
  background-color: #1976D2;
}

button:active {
  background-color: #1976D2;
}

.success {
  color: #424242;
  background-color: #69F0AE;
  margin-top: 1rem;
  padding: 1rem;
}

.error {
  color: #424242;
  background-color: #EF9A9A;
  margin-top: 1rem;
  padding: 1rem;
}

.success textarea {
  border: 2px solid #28a745;
}

.error textarea {
  border: 2px solid #dc3545;
}

.CodeMirror {
  position: relative;
  left:10px; top:10px;
  width:  calc(80vw - 20px);      /* calc and viewport to the rescue */
  height: calc(60vh - 20px);
  margin-bottom: 2rem;
}

/* Set the scrollbar width and hide the default scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* Track styles */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle styles */
::-webkit-scrollbar-thumb {
  background-color: #1976D2;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(98, 114, 164, 0.8);
}

/* Set the scrollbar color */
::-webkit-scrollbar-thumb:vertical {
  background-color: #1976D2;
}

/* Set the scrollbar color for horizontal scrollbars */
::-webkit-scrollbar-thumb:horizontal {
  background-color: #1976D2;
}

/* Set the scrollbar color when scrolling */
::-webkit-scrollbar-thumb:active {
  background-color: rgba(98, 114, 164, 0.8);
}

/* Set the color of the scrollbar text */
::-webkit-scrollbar-button {
  color: #f1fa8c;
}
